::selection{
  background: #203334;
  color: #f7b39b;
}

body {
  background: url(./glass-bg1.png);
  background-size: 120%;
  background-repeat: no-repeat;
  font-family: 'poppins';
}

@media screen and (max-width: 568px) {
  body{
    background-size: 400%;
    background-repeat: repeat-y;
    background-position: center;
  } 
  .rank{
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .glass-input-box{
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  body{
    background-size: 500%;
    background-repeat: repeat-y;
    background-position: center;
  } 
  .rank{
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .glass-input-box{
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  body{
    background-size: 600%;
    background-repeat: repeat-y;
    background-position: center;
  } 
  .rank{
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .glass-input-box{
    width: 80%;
  }
}

/* @media screen and (max-width: 1200px) {
  body{
    background-size: 180%;
    background-repeat: repeat-y;
    background-position: center;
  } 
  .rank{
    margin-top: 3rem;
    font-size: 1.3rem;
  }
  .glass-input-box{
    width: 80%;
  }
} */